In [4]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"
data = requests.get(url).text
soup = BeautifulSoup(data, "html.parser")
table = soup.find("table")
languages = []
for row in table.find_all("tr"):
    languages.append(row.find_all("td")[1].getText())

salary = []
for row in table.find_all("tr"):
    salary.append(row.find_all("td")[3].getText())

df = pd.DataFrame(columns=[languages,salary]).T.reset_index()
df = df.rename(columns={"level_0": "Language name", "level_1": "Annual Average Salary"})[1:]
df.to_csv("popular-languages.csv")
df

   Language name Annual Average Salary
1         Python              $114,383
2           Java              $101,013
3              R               $92,037
4     Javascript              $110,981
5          Swift              $130,801
6            C++              $113,865
7             C#               $88,726
8            PHP               $84,727
9            SQL               $84,793
10            Go               $94,082